h1{
    color:red;
}

p{
    color: purple;
    
}
h2 {
    color: red;

}
p{
    color: purple;
}

li{
    background-color: yellow;
}
.p1{
    color: white;background-color: black;
   
}
.bow{
    background-color: rgb(57, 248, 57);
}